/*
            *{border: 1px solid red;}
        */
@media ( max-width :1300px) {
	body {
		position: absolute;
	}
}

/* Header */
.header {
	position: relative;
	width: 100%;
}

.symbol {
	position: relative;
	left: 17px;
	top: -0.3px;
}

.logo {
	z-index: 1;
	position: absolute;
	margin-top: -129px;
	left: 50%;
	/* margin-left:-(濡쒓퀬width/2) */
	margin-left: -150px;
}

.logo img {
	cursor: pointer;
}

.menu {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.cursor{
	cursor:pointer;
}

/* footer */
footer {
	margin-top: 100px;
	text-align: center;
	font-size: 15px;
}
