input {
	outline: none;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	width: 100%;
	font-size: 20px;
}

.logo {
	text-align: center;
	margin-top: 15px;
}

.logo img{
	cursor: pointer;
}

input+div {
	position: absolute;
	color: #c0c0c0;
	transition-property: font-size, bottom;
	transition-duration: 0.5s;
	pointer-events: none;
}

.container {
	position: absolute;
	width: 500px;
	height: 800px;
	top: 43%;
	left: 50%;
	margin-top: -400px;
	margin-left: -250px;
}

.container_main {
	height: 15%;
	font-size: 30px;
	margin-top: 50px;
}

.container_id, .container_pw, .container_pwcheck, .container_name,
	.container_addr, .container_email, .container_phone {
	height: 10%;
}

.container_join {
	height: 15%;
	text-align: center;
}

.container_id_div {
	left: 3px;
	/*+54*/
    bottom: 527px;
}

.container_pw_div {
	left: 3px;
	bottom: 447px;
}

.container_pwcheck_div {
	left: 3px;
	bottom: 367px;
}

.container_name_div {
	left: 3px;
	bottom: 287px;
}

.container_addr_div {
	left: 3px;
	bottom: 207px;
}

.container_email_div {
	left: 3px;
	bottom: 127px;
}

.container_phone_div {
	left: 3px;
	bottom: 47px;
}

.container_id_input{
    width: 80%;
}

.container_join_input {
	width: 60%;
	min-width: 120px;
	background: #ffffff;
	border: solid 1px #4f9f4f;
	border-radius: 22px;
	cursor: pointer;
	font-size: 13px;
	height: 42px;
	padding: 11px 25px 12px 25px;
	box-shadow: inset 0 0 0 1px #4f9f4f!important;
	transition: background-color .3s,color .3s,background .3s,box-shadow .1s ease-in-out;	
}

.container_join_input:hover {
	color:#ffffff;
	background-color:#4f9f4f;
}

.idcheck{
    float: right;
    margin-right: 5px;
	background: #fff;
	border: solid 1px #4f9f4f;
	border-radius: 22px;
	cursor: pointer;
	padding: 7px 10px 7px 10px;
	box-shadow: inset 0 0 0 1px #4f9f4f!important;
	transition: background-color .3s,color .3s,background .3s,box-shadow .1s ease-in-out;
}

.idcheck:hover{
	color:#ffffff;
	background-color:#4f9f4f;
}    