/*
            *{border: 1px solid red;}
        */
@media ( max-width :1300px) {
	body {
		position: absolute;
	}
}

/* Header */
.header {
	position: relative;
	width: 100%;
}

.logo {
	z-index: 2;
	position: absolute;
	margin-top: 10px;
	left: 50%;
	/* margin-left:-(濡쒓퀬width/2) */
	margin-left: -150px;
	-webkit-animation: fadein 4s; /* Safari and Chrome */
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.menu {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.cursor{
	cursor:Default;
}


/* main-article1 */
.map {
	z-index: 3;
	text-align: center;
	padding: 120px;
	padding-top: 110px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

.map img {
	max-width: 1000px;
	max-height: 755px;
	min-width: 1000px;
	min-height: 755px;
	/*
            min-width: 760px;
            min-height: 600px;
            */
}

/* main-article2 */
.popup {
	text-align: center;
	font-size: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
}

.popup div {
	display: inline-block;
	margin: 20px;
}

/* main-article3 */
.intro {
	background: url('../images/intro.jpg') no-repeat center center/cover;
	padding: 100px 20px;
	text-align: center;
	margin-bottom: 50px;
}

.intro p {
	text-align: center;
	color: white;
	font-size: 35px;
}

.intro button {
	background: #eebd07;
	font-size: 15px;
	display: block;
	max-width: 200px;
	width: 100%;
	margin: 20px auto 0;
	color: #333;
	border-radius: 50px;
	padding: 12px 0;
	font-weight: 500;
}

/* footer */
footer {
	margin-top: 100px;
	text-align: center;
	font-size: 15px;
}

/* 臾   뿴由  */
.imgsize {
	width: 100%;
	height: 100%;
}



/* 명소, 맛집, 축제  파트 */
#container {
        
			width: 1500px;
            height: 1000px;
			margin:0 auto;
			text-align:left;
		}
		.tab {
           font-family: 'Noto Sans KR', sans-serif;
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
          text-align: center;

            
		}
        
    
        
		/* Float the list items side by side */
        
		.tab li {
            
			float: left;
            
		}
        
		/* Style the links inside the list items */
        
        /* 명소, 맛집, 축제 자체의 크기 조절 */
        
		.tab li {
			display: inline-block;
			color: #000;
			text-align: center;
			text-decoration: none;
			padding: 14px 16px;
			font-size: 30px;
			transition:0.3s;
            width: 465px;

		}
        
        
		/* Style the tab content */
		.tabcontent {
			display: none;
			background-color: #EBEBE9;
			padding: 6px 12px;
			color:#000;
            
		}
        
        
       .tabcontent.current {
			display: block;
           text-align: center;
		}
        
        
        
        .tabcontent2 {
			display: none;
			background-color: #E3E6DA;
			padding: 6px 12px;
			color:#000;
                    text-align: center;

		}
          .tabcontent2.current {
			display: block;

		}
        
        
        
        .tabcontent3 {
			display: none;
			background-color: #C0CEB2;
			padding: 6px 12px;
			color:#000;
                text-align: center;
    
            
		}
          .tabcontent3.current {
			display: block;

		}

        
        
        .tabcontent4 {
			display: none;
			background-color: #8AA989;
			padding: 6px 12px;
			color:#000;
                text-align: center;

		}
          .tabcontent4.current {
			display: block;
                    text-align: center;

		}
		
		#container #tab1 .Dong_1 {
		
		 margin: 10px 45px;
		 padding: 10px 20px;
		
		}
		
		#container #tab1 .Dong_2 {
		 margin: 10px 45px;
	
		 padding: 10px 20px;
		
		}
		
		#container #tab1 .Dong_3 {
		 margin: 10px 45px;
	
		 padding: 10px 20px;
		
		}
		

		
		
		#container #tab2 .Seo_1 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		
		}
		#container #tab2 .Seo_2 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		
		}
		#container #tab2 .Seo_3 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		}
		
		
		

		
		
		#container #tab3 .Nam_1 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		} 
		#container #tab3 .Nam_2 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		} 
		#container #tab3 .Nam_3 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		} 
		
		#container #tab4 .Buk_1 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		} 
		#container #tab4 .Buk_2 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		} 
		
		#container #tab4 .Buk_3 {
		 margin: 10px 45px;
	
				 padding: 10px 20px;
		
		} 

         .graphic {
    
      text-align: center;
      padding: 120px;
      padding-top: 110px;
      padding-bottom: 50px;
      margin-bottom: 30px;
            
        }
   
        
        
/*
         지도 hover 효과
*/
       .graphic svg .Gangbuk:hover {
            
            fill: #0054FF5E;
            cursor: pointer;
            
        }
        .graphic svg .Gangseo:hover {
            
            fill: #0054FF5E;
              cursor: pointer;

        }
        .graphic svg .Gangdong:hover {
            
            fill: #0054FF5E;
                        cursor: pointer;

        }
        .graphic svg .Gangnam:hover {
            
            fill: #0054FF5E;
                        cursor: pointer;

        }
        
/*
         지도 hover 효과
*/
        

.ldoor {
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	animation: ldoor 6.5s forwards;
}

.rdoor {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	animation: rdoor 6.5s forwards;
}

@keyframes ldoor {
	from {left: 0%
}

to {
	left: -50%
}

}

@keyframes rdoor {
	from {right: 0%
}

to {
	right: -50%
}
