<!-- 구글 나눔 고딕 -->
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0 auto;
    padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

table {
    border-collapse: collapse;
	
}

.container{
	width: 1024px;
	margin: 0 auto;
	border-top: 30px;
    padding: 50px;
}

.board_list {
	margin-top: 30px;
    width: 100%;
    border-top: 2px solid #d7d7d7;
    padding-top: 30px;
}

.board_list tr {
    border-bottom: 1px solid #d7d7d7;
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 14px;
}

.board_list td {
    text-align: center;
}

.board_list .tit {
    text-align: left;
}

.board_list .tit:hover {
    text-decoration: underline;
}
h3{
	font-size: 30px;
	font-weight: bold;
}
.write_btn{
	margin-top: 20px;
	height: 40px;
    padding: 0 20px;
    background: #007bc0;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    cursor: pointer;
	font-size:15px;
}

 *:focus { outline:none; }