<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="join">
		INSERT INTO MEMBER VALUES(
		#{id},
		#{pw},
		#{name},
		#{addr},
		#{email},
		#{phone},
		SYSDATE
		)
	</insert>

	<!-- 로그인 -->
	<select id="login" resultType="com.sarf.vo.MemberVO">
		SELECT id, pw
		FROM MEMBER
		WHERE id = #{id}
		AND pw = #{pw}
	</select>

	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
		UPDATE MEMBER SET
		pw = #{pw},
		name = #{name},
		addr = #{addr},
		email = #{email},
		phone = #{phone}
		WHERE id = #{id}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="memberDelete">
		DELETE FROM MP_MEMBER
		WHERE USERID = #{userId}
		AND USERPASS = #{userPass}
	</delete>
</mapper>