<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="r_boardMapper">
	<!-- 게시판 목록 조회 -->
	<select id="list" resultType="com.sarf.vo.R_BoardVO">
	   SELECT *	FROM R_BOARD
			ORDER BY BNO DESC
	</select>

	<!-- 게시판 글 작성 -->
	<insert id="write" >
		INSERT INTO R_BOARD(BNO, SUBJECT, NAME, CONTENT)
		VALUES(R_BOARD_SEQ.NEXTVAL, #{subject}, #{name}, #{content})
	</insert>
	
	<!-- 게시물 조회 -->
	<select id="read" parameterType="int" resultType="com.sarf.vo.R_BoardVO">
		SELECT	BNO
			  , SUBJECT
			  , CONTENT
			  , NAME
			  , REGDATE
		 FROM R_BOARD
		 WHERE BNO = #{bno}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="update" parameterType="com.sarf.vo.R_BoardVO">
		UPDATE R_BOARD
		   SET SUBJECT = #{subject},
		   	   CONTENT = #{content}
		 WHERE BNO = #{bno} 
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM R_BOARD
		 WHERE BNO = #{bno}
	</delete>
	
	<!-- 게시판 페이지 -->
	<select id="listPage" resultType="com.sarf.vo.R_BoardVO" parameterType="com.sarf.vo.SearchCriteria">
		SELECT  BNO, 
		        SUBJECT	, 
		        CONTENT,
		        NAME, 
		        REGDATE,
		        READCOUNT
		 FROM ( 
		        SELECT BNO, 
		               SUBJECT, 
		               CONTENT, 
		               NAME, 
		               REGDATE, 
		               READCOUNT,
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM R_BOARD
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>
	
	<!-- 게시글 검색 -->
	<select id="listCount" parameterType="com.sarf.vo.SearchCriteria" resultType="int">
		SELECT COUNT(BNO)
		   FROM R_BOARD
		   WHERE 1=1
		<include refid="search"></include>	
		   AND BNO > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 's'.toString()">AND SUBJECT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'n'.toString()">AND NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'sc'.toString()">AND (SUBJECT LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<!-- 조회수 증가 -->
	<update id="updateCount" parameterType="int">
		UPDATE R_BOARD SET
		READCOUNT = READCOUNT+1
		WHERE BNO = #{BNO}
	</update>
</mapper>

