@charset "EUC-KR";

/* 메뉴 아이콘 모양 설정 */
input[id="menuicon"] {
	display:none;
}

input[id="menuicon"] + label {
	display:block;
	width:60px;
	height:40px;
	position:fixed;
	left:10;
	top:10;
	transition:all .35s;
	cursor:pointer;
}

input[id="menuicon"] + label span {
	display:block;
	position:absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background:#000;
	transition:all .35s;
}

input[id="menuicon"] + label span:nth-child(1) {
	top:0;
}

input[id="menuicon"] + label span:nth-child(2) {
	top:50%;
	transform:translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
	bottom:0;
}

/* 메뉴 아이콘 누르면 X로 변화 */
input[id="menuicon"]:checked + label span:nth-child(1) {
	top:50%;
	transform:translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
	opacity:0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
	bottom:50%;
	transform:translateY(50%) rotate(-45deg);
}

/* 사이드바 설정(화면에서 안보임) */
div[class="sidebar"] {
	width:300px;
	height:100%;
	background:#222;
	position:fixed;
	top:0;
	left:-300px;
	z-index:1;
	transition:all .35s;
}

/* 메뉴 아이콘이 클릭되면 사이드바가 화면에 보여짐 */
input[id="menuicon"]:checked + label + div {
	left:0;
}

/* 사이드바가 보여지면서 메뉴 아이콘도 사이드바 너비만큼 이동 */
input[id="menuicon"]:checked + label {
	z-index:2;
	left:300px;
}

/* 사이드바 세부 메뉴 설정*/
div[class="sidebar"] a {
	position:relative;
	display:block; 
	font-size:30px; 
	line-height:150px; 
	color:#fff;
	text-decoration:none;
	text-align:center;
}

div[class="sidebar"] a:hover {
	color:#FAED7D;
}

hr {
	width:80%;
}